// format
html {
  font-size: 62.5%;
  height: 100%;
  letter-spacing: 0.4rem;
}

body {
  position: relative;
  height: 100%;
  font-family: $gothic;
  color: #313131;
  font: {
    size: 1.6rem
  }
}

.input,
.label,
.control,
.select select{
  font-size: 1.6rem;
}
